/*box model reset*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
*/
body{
font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    background-color:antiquewhite;
}
h1{
    font-family: 'Noto Serif', serif;
    font-weight: 300;
}


/*
=========================
HEADER
=========================
*/
.header__container{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 50px 5px
/*    border: 1px solid black;*/
}

/*
=============================
LOGO
=============================
*/

#logo{
    width: 100px;
    height: auto;
    max-height: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.side-menu{
    width:50%;
    height: 8px;
    background-color: #000;
    display: block;
    margin:5px;
    border-radius: 200px;
    
    
}
/*
==============================
HEADING TITLE TEXT
==============================
*/
.header__title h1 span{
    color:orange;
}

/*
===================================
NAVIGATION
===================================
*/

.nav .nav__menu{
    list-style: none;
    
    
}
.nav__item{
    
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    margin: 0 10px;
    
}
.nav__item:last-child{
    margin-right: 0;
    
}
.nav__link,
.nav__link:active,
.nav__link:visited{
    
    text-decoration: none;
    color: inherit;
    
}
.nav__link:hover{
    color: orangered;
    transform: scale(1);
    font-weight: 700;
    border-bottom: 2px solid orangered;
    padding-bottom: 5px;
    cursor: pointer;
}

/*
==================================
 MAIN BANNER HEADING
==================================
*/
.banner{
    padding:20px 0 100px 0;
}
img{
    border-radius: 3px;
}
.banner-content{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.banner-content img{
    float: right;
    width: 200px;
    height:auto;
    max-height: 400px;
    margin-top:-150px;
    
     
}
svg{
    color:orange;
}
.heading-primary{
    font-weight: 100;
    font-size: 100px;
    word-spacing: 4px;
}
.banner__ball{
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
}
.banner-text{
    position: absolute;
    left:0;
    top:0;
}
.text:not(:last-child){
    margin-bottom: 2px;
    
}

.heading-primary{
    position: relative;
}
.heading-primary-2{
    position: relative;
    top:0;
    left:40%;
}
.heading-primary-3{
    position: relative;
    top:0;
    left:20%;
}
.heading-primary span{
    display: block;
}
.heading-primary span:first-child{
    margin-top: 50px;
}
/*
CONTAINING FLOATS
*/
.clearfix::after{
    
    content: "";
    display: block;
    clear:both;
    
}

/*
MALE COLLECTION COMPONENT
*/
.male-collection{
    width:1000px;
    margin:0 auto;
}
.collection-content{
    position: relative;
}
.male-collection-content img{
    
    width:200px;
    height: auto;
    max-height: 250px;
    float: left; 
    
}

.primary-text{
    
    font-size: 12px;
    font-weight: 400;
    position: relative;
    top:100px;
    padding-left: 30%;
    line-height: 1.5rem;
    
}
.social-media{
    position: absolute;
    top:60%;
    right: 2%;
    display: flex;
    flex-direction: column;
    
    
}
.social-media .p{
    margin-bottom: 10px;

}
.socila-media a:hover{
    cursor: pointer;
}
